servers:
  - "http://localhost:3000"
  - "http://localhost:3001"
  - "http://localhost:3002"

load_balancer: random
routes:
  - name: get_list
    config:
      upstream:
        route: /api/order/get-list
        method: GET
      downstream:
        schema: http
        route: /order/get-list
  - name: get_by_id
    config:
      upstream:
        route: /api/order/get-by-id
        method: GET
      downstream:
        schema: http
        route: /order/get-by-id
    before:
      call:
        http:
          address: "http://logservice.ir/check-access"
          method: POST
          body:
            action: { { $route.name } }
            appToken: { { $request.headers.x-api-key } }
          response:
            if:
              { { $response.status == 200 && $response.jsonBody.status == true } }
            then:
              continue
            else:
              block
    after:
      call:
        http:
          address: "http://logservice.ir/log-use"
          method: POST
          body:
            action: { { $route.name } }
            appToken: { { $request.headers.x-api-key } }

