servers:
  - "http://localhost:3000"
  - "http://localhost:3001"
  - "http://localhost:3002"

load_balancer: random
routes:
  - name: get_list
    config:
      upstream:
        route: /api/order/get-list
        method: GET
      downstream:
        schema: http
        route: /order/get-list
  - name: get_by_id
    upstream:
      route: /api/order/get-by-id
      method: GET
    downstream:
      schema: http
      route: /order/get-by-id
    middlewares:
      - name: check-access
        when: before
        type: http
        method: POST
        url: "http://logservice.ir/check-access"
        body:
          action: "{{ route.name }}"
          appToken: "{{ request.headers.x-api-key }}"
        response_policy:
          success_if: "status == 200 && body.status == true"
          on_fail: block

      - name: log-usage
        when: after
        type: http
        method: POST
        url: "http://logservice.ir/log-use"
        body:
          action: "{{ route.name }}"
          appToken: "{{ request.headers.x-api-key }}"

